*{
	margin: 0;
	padding: 0;
}
a, li{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: 'Raleway', sans-serif;
}
.logo{
	background: #000;
	width: 100%;
	display: flex;
	justify-content: center;
}
.graficlogo{
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}
nav{text-align: center;
	margin: auto;
	width: 800px;
	height: 50px;
}
.topnav{
	background-color: #fff;
	font-size: 14px;
	margin-top: 40px;
}
.topnav a{
	color: #000;
	text-align: center;
	padding: 14px 16px;
	font-size: 15px;
	transition: 0.3s ease-out; /*Время появления подчеркивания*/
}
.topnav a:hover, .topnav a:focus, .topnav a:active{
	border-bottom: 2px solid #000;
	padding-bottom: 3px;/*не обязательно, эфект поднятия в верх подчеркивания*/
	outline: none;
}
.topnav .icon{
	display: none;
}
.conteiner_mw-100{
	background: linear-gradient(to bottom, #ECECEE, #D6D6DC);
	text-align: center;
}
.mw-100{
	max-width: 100%;
	/*text-indent: center;*/
}
.advantages_container{
	display: flex;
	justify-content: center;
}
.advantages{
	padding-top: 40px;
	padding-bottom: 40px;
	width: 70%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
}
.advantages_item{
	width: 30%;
}
.advantages img{
	max-width: 175px;
}
footer{
	width: 100%;
	height: auto;
	background: #000;
	/*padding: 0 auto;*/
	text-align: center;
	padding-top: 25px;
}
footer a{
	color: white;
	font-size: 14px;
	margin-left: 10px;
}
footer p{
	color: white;
	text-align: center;
}
footer nav a:hover{
	border-bottom: 1px solid white;
}
.social img{
	margin-left: 10px;
	margin-bottom: 10px;
}
.social img:hover{
	background: #494949;
	border-radius: 50%;
}
@media screen and (max-width: 768px){
	.topnav a:not(:first-child){
	display: none;}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: black;}
	nav{
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
	}
	.topnav.responsive a.icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}
	.advantages_item{
		width: 45%;
	}
z
}
@media screen and (max-width: 460px){
	.advantages{
		flex-direction: column;
	}
		.advantages_item{
		width: 100%;
	}
}
