*{
	margin: 0;
	padding: 0;
}
a, li{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: 'Raleway', sans-serif;
}
.logo{
	background: #000;
	width: 100%;
	display: flex;
	justify-content: center;
}
.graficlogo{
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}
nav{text-align: center;
	margin: auto;
	width: 800px;
	height: 50px;
}
.topnav{
	background-color: #fff;
	font-size: 14px;
	margin-top: 40px;
}
.topnav a{
	color: #000;
	text-align: center;
	padding: 14px 16px;
	font-size: 15px;
	transition: 0.3s ease-out; /*Время появления подчеркивания*/
}
.topnav a:hover, .topnav a:focus, .topnav a:active{
	border-bottom: 2px solid #000;
	padding-bottom: 3px;/*не обязательно, эфект поднятия в верх подчеркивания*/
	outline: none;
}
#active{
	border-bottom: 2px solid #6D6D6D;
	padding-bottom: 3px;
}
.topnav .icon{
	display: none;
}
.conteiner_mw-100{
	background: linear-gradient(to bottom, #ECECEE, #D6D6DC);
	text-align: center;
}
.mw-100{
	max-width: 100%;
	/*text-indent: center;*/
}
.advantages_container{
	display: flex;
	justify-content: center;
}
.advantages{
	padding-top: 40px;
	padding-bottom: 40px;
	width: 70%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
}
.advantages_item{
	width: 30%;
}
.advantages img{
	max-width: 175px;
}
footer{
	width: 100%;
	height: auto;
	background: #000;
	/*padding: 0 auto;*/
	text-align: center;
	padding-top: 25px;
	/*margin-top: 200px;*/
}
footer a{
	color: white;
	font-size: 14px;
	margin-left: 10px;
}
footer p{
	color: white;
	text-align: center;
}
footer nav a:hover{
	border-bottom: 1px solid white;
}
.social img{
	margin-left: 10px;
	margin-bottom: 10px;
}
.social img:hover{
	background: #494949;
	border-radius: 50%;
}
.gallery{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.photo_itm{
	width: 25%;
}
.photo_itm img{
	box-sizing: border-box;
	max-width: 100%;
	opacity: 0.7;
}
.photo_itm img:hover{
	opacity: 1;
}
.blog__conteiner{
	background: #fafafa;
	border-radius: 5px;
	box-shadow: rgb(0,0,0,0.2 ) 0 4px 2px -2px;
	font-weight: 100;
	margin: 48px auto;
	width: 50rem;
}
.blog__conteiner a:hover{
	border-color: #ff4d4d;
	color: #ff4d4d;
}
.blog__cover{
	background: url(../img/gellari/gellari-2.jpg);
	background-size: cover;
	border-radius: 5px 5px 0 0;
	height: 15rem;
	box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px;
}
.blog__body{
	margin: 0 auto;
	width: 80%;
}
.blog__body_title h1 a{
	color: #333;
	font-weight: 100;
}
.blog__body_text p{
	color: #4d4d4d;
}
.blog__body_tags ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding-left:0;
}
.blog__body_tags li+li{
	margin-left: .5rem;
}
.blog__body_tags a{
	border: 1px solid #999999;
	border-radius: 3px;
	color: #999999;
	font-size: .75rem;
	height: 1.5rem;
	line-height: 1.5rem;
	letter-spacing: 1px;
	padding: 0 .5rem;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	width: 5rem;
}
.blog__footer{
	border-top: 1px solid #e6e6e6;
	margin: 0 auto;
	padding-bottom: .125rem;
	width: 80%;
}
.blog__footer ul{
	list-style: none;
	display: flex;
	flex: row wrap;
	justify-content: flex-end;
	padding-left: 0px;
}
.blog__footer li{
	color: #999999;
	font-size: .75rem;
	height: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	white-space: nowrap;
}
.published__date{
	border: 1px solid #999999;
	border-radius: 3px;
	padding: 0 .5rem;
}
.form{
	width: 50%;
	margin: 50px auto;
}
.feedback__input{
	color: #000;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	background-color: #fff;
	padding: 13px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	border: 0px solid transparent;
	border-bottom: 1px solid #000;
}
textarea{
	width: 100%;
	height: 150px;
	resize: vertical;
}
.buttom-submit{
	float: left;
	width: 100%;
	border: 0px solid transparent;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	font-size: 18px;
	padding-top: 22px;
	padding-bottom: 22px;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 300;
}
.buttom-submit:hover{
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}
.ease{
	width: 0;
	height: 74px;
	background-color: #fbfbfb;
	transition: .3s ease;

}
#map{
	width: 100%;
	height: 500px;
}
.about__container{
	width: 80%;
	margin: 50px auto;
	text-align: center;
}
.about__container img{
	max-width: 100%;
}
.about__container h1{
	margin-top: 50px;
}
.about__container p{
	margin-top: 50px;
}
.services{
	width: 80%;
	margin: 50px auto;
	text-align: center;
}
.services img{
	max-width: 100%;
}
.services__container{
	margin-top: 50px;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 50px 100px;
}

@media screen and (max-width: 768px){
	.topnav a:not(:first-child){
	display: none;}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: black;}
	nav{
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
	}
	.topnav.responsive a.icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}
	.advantages_item{
		width: 45%;
	}
	.photo_itm{
		width: 45%;
		margin-left: 10px;
	}
	.blog__conteiner{
		width: 28rem;
	}

}
@media screen and (max-width: 420px){
	.advantages{
		flex-direction: column;
	}
		.advantages_item{
		width: 100%;
	}
	.project{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.gallery{
		width: auto;
		margin: auto;
	}
	.photo_itm{
		width: 70%;
		margin: 0 auto;
	}
	.blog__conteiner{
		width: 20rem;
	}
	.services__container{
		grid-template-columns: auto;
}

}
